<div class="container">
  <div class="page-header">
    <br>
    <h1> {{ title }} </h1>
    <hr class="my-4">
    <router-outlet></router-outlet> 
  </div>
</div>
<footer class="footer">
  <div class="container">
    <hr class="my-4">
    <span class="text-muted">
      <p>
        UPCN Salud | &nbsp;
        <a href="https://www.facebook.com/UPCN-Delegacion-SALUD-504225006340545/" target="_blank">
          <i class="fa fa-facebook-square"></i>
        </a> &nbsp;
        <a href="https://instagram.com/upcnsalud?utm_source=ig_profile_share&igshid=1buf8k79eepah" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
      </p>
    </span>
  </div>
</footer>