<div class="container">
  <div class="page-header">
    <br>
    <h1> {{ title }} </h1>
    <hr class="my-4">
    <router-outlet></router-outlet> 
  </div>
</div>
<footer class="footer">
  <div class="container">
    <hr class="my-4">
    <span class="text-muted">
      <p>
        Bahiensas Feministas 💜 <em>Feminismo para salvarnos</em> | &nbsp;
        <a href="https://www.facebook.com/BahiensasFeministas/" target="_blank">
          <i class="fa fa-facebook-square"></i>
        </a> &nbsp;
        <a href="https://www.instagram.com/bahiensas_feministas/" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
      </p>
    </span>
  </div>
</footer>