<div class="list-group mb-3" *ngIf="userLoggedIn">
    <h5>Opciones de administradora:</h5>
    <div class="btn-group">
      <button class="btn btn-primary" [routerLink]="['/songs/add']">Agregar Cancion</button>
      <button class="btn btn-outline-primary" [routerLink]="['/logout']">Log out</button>
    </div>
</div>

<input type="text" class="form-control mb-3" style="max-width: 65rem;" [(ngModel)]="searchText" placeholder="Buscar por titulo..." />
<p></p>
<div *ngFor="let song of songs | searchFilter: 'title' : searchText">
  <div class="list-group mb-3" style="max-width: 65rem;">
    <a [routerLink]="['song-details', song._id]" class="list-group-item list-group-item-action">
        <span class="badge badge-primary badge-pill">{{song.order}}</span>
        {{song.title}}
    </a>
    <div *ngIf="userLoggedIn" class="btn-group">
        <button type="button" class="btn btn-danger" (click)="delete($event, song._id)">Borrar</button>
        <button type="button" [routerLink]="['edit', song._id]" class="btn btn-primary">Editar</button>
      </div>
  </div>
</div>