<div class="align-right" *ngIf="userLoggedIn">
    <a class="btn btn-primary" [routerLink]="['/songs/add']">Agregar Cancion</a>
    <a class="btn btn-primary" [routerLink]="['/logout']">Log out</a>
  </div>

<input type="text" class="form-control mb-3" style="max-width: 65rem;" [(ngModel)]="searchText" placeholder="Buscar por titulo..." />
<p></p>
<div *ngFor="let song of songs | searchFilter: 'title' : searchText" class="list-group mb-3" style="max-width: 65rem;">
  <a [routerLink]="['song-details', song._id]" class="list-group-item list-group-item-action">
      <span class="badge badge-primary badge-pill">{{song.order}}</span>
      {{song.title}}
  </a>
</div>